<app-admin-nav></app-admin-nav>
<body>
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center pt-5">
      <div class="col-md-12 col-lg-7 col-sm-12">
        <h1 class="display-4 text-white text-center" i18n>Editar Producto</h1>
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div class="col-lg-7 col-md-6 col-sm-10">
        <div class="card">
          <div class="card-body">
            <form action="" #f="ngForm" ngNativeValidate>
              <div class="form-group">
                <label i18n>Nombre del producto:</label>
                <input
                  [(ngModel)]="product.name"
                  value="{{ product.name }}"
                  type="text"
                  class="form-control"
                  name="name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1" i18n
                  >Descripción:</label
                >
                <textarea
                  class="form-control"
                  [value]="product.description"
                  id="exampleFormControlTextarea1"
                  rows="2"
                  [(ngModel)]="product.description"
                  name="description"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label i18n>Tamaño:</label>
                <input
                  [(ngModel)]="product.size"
                  [value]="product.size"
                  type="string"
                  class="form-control"
                  name="size"
                  required
                />
              </div>
              <div class="form-group">
                <label i18n>Presentación:</label>
                <input
                  [(ngModel)]="product.presentation"
                  [value]="product.presentation"
                  type="string"
                  class="form-control"
                  name="presentation"
                  required
                />
              </div>
              <div class="form-group">
                <label i18n>Precio:</label>
                <input
                  [(ngModel)]="product.price"
                  [value]="product.price"
                  type="number"
                  min="0" oninput="this.value = Math.abs(this.value)"
                  class="form-control"
                  name="price"
                  required
                />
              </div>
              
              <div class="form-group">
                <label i18n>Agregar imagen:</label>
                <input
                  [(ngModel)]="product.url"
                  type="text"
                  class="form-control"
                  name="url"
                  required
                />
              </div>
              <label>Selecciona tiendas:</label>
                <ul >
                  <li class="custom-control custom-checkbox" *ngFor="let facility of facilities; let i = index">
                  <input
                    [checked]="!facility.hideRow"
                    type="checkbox"
                    class="custom-control-input"
                    id="{{ facility.name }}"
                    (change)="checkboxChecked(i, $event, facility)"
                  />
                  <label
                    class="custom-control-label"
                    for="{{ facility.name }}"
                    >{{ facility.name }}</label
                  ></li>
                </ul>
                <div class="card-body">
                  <div id="table" class="table-editable">
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <tr>
                        <th class="text-center">Tienda</th>
                        <th class="text-center">Ciudad</th>
                        <th class="text-center">Cantidad</th>
                      </tr>
                      <tr *ngFor="let facility of facilities; let id = index">
                        <td *ngIf="!facility.hideRow">
                          <span contenteditable="false">{{facility.name}}</span>
                        </td>
                        <td *ngIf="!facility.hideRow">
                          <span contenteditable="false">{{facility.address[0].state}}</span>
                        </td>
                        <td *ngIf="!facility.hideRow">
                          <span contenteditable="true" (keyup)="changeValue(id, $event)" (blur)="updateList(id, $event)"> {{quantities[id]}}</span>
                        </td>
                      </tr>
                    </table>
                    <label style="text-align: right;">Cantidad total a agregar: {{totalQuantity}}</label>
                  </div>
                </div>
              <button
                type="submit"
                class="btn btn-primary btn-block"
                (click)="updateProduct()"
                i18n
              >
                Guardar cambios
              </button>
              <button
                type="button"
                class="btn btn-outline-danger btn-block"
                routerLink="/admin"
                i18n
              >
                Cancelar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
