<body>
    <app-nav-bar></app-nav-bar>
    <div class="container pt-5">
      <div class="row justify-content-center pt-5">
        <div class="col-md-12 col-lg-7 col-sm-12">
          <h1 class="display-4 text-black text-center">Agregar dirección</h1>
        </div>
      </div>
      <div class="row justify-content-center pt-3">
        <div class="col-lg-6 col-md-6 col-sm-10">
          <div class="card">
            <div class="card-body">
              <form action="" #f="ngForm" (ngSubmit)="addAddress()" ngNativeValidate>
                <div class="mb-3">
                  <label for="address">Calle y número exterior</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="address.street"
                    id="street"
                    name="street"
                    placeholder="1234 Main St"
                    required
                  />
                </div>
  
                <div class="mb-3">
                  <label for="address2"
                    >Nùmero interior
                    <span class="text-muted">(Opcional)</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="address.apartment"
                    id="apartment"
                    name="apartment"
                    placeholder="Apartment or suite"
                  />
                </div>
  
                <div class="row">
                  <div class="col-md-5 mb-3">
                    <label for="country">País</label>
                    <select
                      class="custom-select d-block w-100"
                      [(ngModel)]="address.country"
                      id="country"
                      name="country"
                      required
                    >
                      <option value="" >Escoja...</option>
                      <option>México</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="state" >Estado</label>
                    <select
                      class="custom-select d-block w-100"
                      [(ngModel)]="address.state"
                      id="state"
                      name="state"
                      required
                    >
                      <option value="" >Escoja...</option>
                      <option>CDMX</option>
                      <option>Estado de México</option>
                      <option>Morelos</option>
                      <option>Nuevo León</option>
                      <option>Quintana Roo</option>
                    </select>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="zip" >CP</label>
                    <input
                      type="text"
                      pattern="[0-9]{5}"
                      class="form-control"
                      [(ngModel)]="address.zip"
                      id="zip"
                      name="zip"
                      placeholder="12345"
                      title="CP de 5 digitos"
                      required
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block" i18n>
                  Agregar dirección
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
  